<h1>Home</h1>
<p>Feel free to search a GitHub user.</p>

<%= form_tag(users_path) %>
  <%= label_tag('username') %>
  <%= text_field_tag('username', placeholder: "GitHub username") %>
  <%= submit_tag('Search') %>
<% end %>